html {
    background-color: #fefefe;
}

body p, li {
    color: #454545;
    font-size: 20px;
}

body {
    font-family: Palatino, "EB Garamond", Georgia, "Times New Roman", serif
}

.row:not(#publications) a {
    text-decoration: underline;
}

.image-link {
    text-decoration: none !important;
}

ul.pl {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
